.u-section-1 .u-sheet-1 {min-height: 177px}
.u-section-1 .u-text-1 {font-weight: 900; margin: 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-2 .u-sheet-1 {min-height: 650px}
.u-section-2 .u-layout-wrap-1 {margin: 44px auto 44px 0}
.u-section-2 .u-image-1 {min-height: 574px; background-image: url("images/kanchenjunga-north-and-south-base-camp-trek3.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 287px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 287px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-3 {margin: 0}
.u-section-2 .u-text-4 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-4 {min-height: 287px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-text-5 {margin: 0}
.u-section-2 .u-text-6 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-5 {min-height: 287px}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-text-7 {margin: 0}
.u-section-2 .u-text-8 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 435px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 473px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-layout-cell-4 {min-height: 100px}
.u-section-2 .u-layout-cell-5 {min-height: 100px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 887px}
.u-section-2 .u-image-1 {min-height: 725px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 906px}
.u-section-2 .u-image-1 {min-height: 544px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 705px}
.u-section-2 .u-image-1 {min-height: 343px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-image-1 {width: 705px; height: 420px; margin: 34px auto 0}
.u-section-3 .u-shape-1 {width: 161px; height: 61px; background-image: none; margin: -159px 215px 60px auto} 

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 402px}
.u-section-3 .u-image-1 {width: 540px; height: 322px}
.u-section-3 .u-shape-1 {margin-top: -61px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 283px}
.u-section-3 .u-image-1 {width: 340px; height: 203px}
.u-section-3 .u-shape-1 {margin-top: 58px; margin-right: 179px} }